## Deliverable 2. Create a Customer Travel Destinations Map.

In [11]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from configcopy1 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [13]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Avarua,CK,-21.2078,-159.7750,80.65,83,40,9.22,scattered clouds
1,Hobart,AU,-42.8794,147.3294,51.26,70,40,12.66,scattered clouds
2,Fortuna,US,40.5982,-124.1573,64.65,78,65,10.67,broken clouds
3,Bluff,NZ,-46.6000,168.3333,41.81,83,10,10.71,clear sky
4,Airai,TL,-8.9266,125.4092,58.05,88,97,2.35,overcast clouds

In [15]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [16]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Avarua,CK,-21.2078,-159.7750,80.65,83,40,9.22,scattered clouds
9,Salalah,OM,17.0151,54.0924,81.27,79,91,4.83,overcast clouds
16,Fomboni,KM,-12.2800,43.7425,79.12,73,70,21.43,light rain
20,Butaritari,KI,3.0707,172.7902,81.68,71,70,11.74,broken clouds
22,Sinnamary,GF,5.3833,-52.9500,78.01,87,95,9.35,overcast clouds
34,Touros,BR,-5.1989,-35.4608,77.94,79,93,13.42,moderate rain
36,Atuona,PF,-9.8000,-139.0333,78.30,72,56,15.21,broken clouds
39,Kribi,CM,2.9500,9.9167,75.20,93,100,4.56,light rain
42,Georgetown,MY,5.4112,100.3354,80.53,93,20,2.30,light rain
47,Kutum,SD,14.2000,24.6667,81.48,16,84,9.86,broken clouds

In [17]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City                   203
Country                202
Lat                    203
Lng                    203
Max Temp               203
Humidity               203
Cloudiness             203
Wind Speed             203
Current Description    203
dtype: int64

In [19]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Avarua,CK,-21.2078,-159.7750,80.65,83,40,9.22,scattered clouds
9,Salalah,OM,17.0151,54.0924,81.27,79,91,4.83,overcast clouds
16,Fomboni,KM,-12.2800,43.7425,79.12,73,70,21.43,light rain
20,Butaritari,KI,3.0707,172.7902,81.68,71,70,11.74,broken clouds
22,Sinnamary,GF,5.3833,-52.9500,78.01,87,95,9.35,overcast clouds
...,...,...,...,...,...,...,...,...,...
653,Ahuimanu,US,21.4447,-157.8378,83.75,65,100,8.05,overcast clouds
656,Fiumicino,IT,41.7675,12.2291,80.02,70,0,2.30,clear sky
661,Salinopolis,BR,-0.6136,-47.3561,78.85,83,86,9.66,overcast clouds
662,Daru,PG,-9.0763,143.2092,76.82,88,100,2.82,overcast clouds
663,Winslow,US,35.0242,-110.6974,89.91,13,47,12.97,scattered clouds

In [21]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,80.65,scattered clouds,-21.2078,-159.7750,
9,Salalah,OM,81.27,overcast clouds,17.0151,54.0924,
16,Fomboni,KM,79.12,light rain,-12.2800,43.7425,
20,Butaritari,KI,81.68,broken clouds,3.0707,172.7902,
22,Sinnamary,GF,78.01,overcast clouds,5.3833,-52.9500,
34,Touros,BR,77.94,moderate rain,-5.1989,-35.4608,
36,Atuona,PF,78.30,broken clouds,-9.8000,-139.0333,
39,Kribi,CM,75.20,light rain,2.9500,9.9167,
42,Georgetown,MY,80.53,light rain,5.4112,100.3354,
47,Kutum,SD,81.48,broken clouds,14.2000,24.6667,

In [37]:
# adding for try and except statement
import numpy as np

In [42]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    
    params['location'] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [45]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Avarua,CK,80.65,scattered clouds,-21.2078,-159.7750,Paradise Inn
9,Salalah,OM,81.27,overcast clouds,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
16,Fomboni,KM,79.12,light rain,-12.2800,43.7425,Auberge les abou
20,Butaritari,KI,81.68,broken clouds,3.0707,172.7902,Isles Sunset Lodge
22,Sinnamary,GF,78.01,overcast clouds,5.3833,-52.9500,ALETHEIA Appartement Sinnamary
...,...,...,...,...,...,...,...
653,Ahuimanu,US,83.75,overcast clouds,21.4447,-157.8378,Paradise Bay Resort
656,Fiumicino,IT,80.02,clear sky,41.7675,12.2291,Al Porticciolo Hotel
661,Salinopolis,BR,78.85,overcast clouds,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
662,Daru,PG,76.82,overcast clouds,-9.0763,143.2092,Daru Lodge
663,Winslow,US,89.91,scattered clouds,35.0242,-110.6974,Best Western Plus Winslow Inn

In [48]:
# 8a. Create the output File (CSV)
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index =False)

In [49]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [51]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))